{% extends "auth_base.html" %}
{% from "macros.html" import field %}
{% block title %}Set your password - {{ firm_name }}{% endblock %}
{% block content %}
<p class="text-muted mt-0">Please set a new password to continue.</p>
<form method="post" class="stack" novalidate>
  {{ form.hidden_tag() }}
  {{ field(form.current_password) }}
  {{ field(form.new_password) }}
  {{ field(form.confirm_password) }}
  <button type="submit" class="btn btn-primary btn-block btn-lg">Update password</button>
</form>
{% endblock %}
